<div class="flex justify-center">
  <div class="w-full max-w-2xl">
    <!-- REGISTER FORM -->
    <form
      *ngIf="!isOtpSent"
      [formGroup]="registerForm"
      (ngSubmit)="submitRegister()"
      class="space-y-5"
    >
      <!-- EMAIL -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Invalid email">
          <input nz-input formControlName="email" placeholder="Email" />
        </nz-form-control>
      </nz-form-item>

      <!-- FIRST NAME -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Required">
          <input
            nz-input
            formControlName="firstName"
            placeholder="First Name"
          />
        </nz-form-control>
      </nz-form-item>

      <!-- LAST NAME -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Required">
          <input nz-input formControlName="lastName" placeholder="Last Name" />
        </nz-form-control>
      </nz-form-item>

      <!-- DATE OF BIRTH -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Required">
          <input nz-input type="date" formControlName="date_of_birth" />
        </nz-form-control>
      </nz-form-item>

      <!-- PASSWORD -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Password required">
          <input
            nz-input
            type="password"
            formControlName="password"
            placeholder="Password"
          />
        </nz-form-control>
      </nz-form-item>

      <!-- CONFIRM PASSWORD -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Confirm password">
          <input
            nz-input
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
          />
        </nz-form-control>
      </nz-form-item>

      <!-- BUTTON -->
      <button [nzLoading]="loading" nz-button nzType="primary" class="w-full">
        Register
      </button>

      <p *ngIf="errorMessage" class="text-red-500 text-center">
        {{ errorMessage }}
      </p>
    </form>


  </div>
</div>
