<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="bg-white shadow-xl rounded-xl p-6 w-full max-w-md">
    <h2
      class="text-xl font-semibold text-center flex items-center justify-center mb-6"
    >
      <span nz-icon nzType="wallet" class="text-green-500 mr-2"></span>
      Deposit Money
    </h2>

    <!-- Quick amount -->
    <div class="grid grid-cols-2 gap-2">
      <button
        *ngFor="let amount of predefinedAmounts"
        nz-button
        [nzType]="selectedAmount === amount ? 'primary' : 'default'"
        class="w-full"
        (click)="selectAmount(amount)"
      >
        {{ amount | number }} VND
      </button>
    </div>

    <!-- Custom amount -->
    <div class="mt-4">
      <input
        nz-input
        type="number"
        class="text-center h-12"
        placeholder="Enter another amount"
        [(ngModel)]="customAmount"
        (ngModelChange)="onCustomAmountChange()"
        min="1000"
      />
    </div>

    <!-- Confirm -->
    <button
      nz-button
      nzType="primary"
      nzBlock
      [nzLoading]="loading"
      class="mt-5 h-12"
      (click)="deposit()"
    >
      <span nz-icon nzType="plus-circle"></span>
      Confirm deposit
    </button>
  </div>
</div>
