<app-progress-bar [courseTitle]="courseTitle" [completionData]="completionData">
</app-progress-bar>

<nz-layout>
  <!-- Sidebar -->
  <nz-sider nzWidth="260">
    <ul class="p-3">
      <li *ngFor="let chapter of chapters">
        <div class="font-semibold py-2">
          {{ chapter.chapterName }}
        </div>

        <ul>
          <li
            *ngFor="let lesson of chapter.lessonDto"
            (click)="handleMenuClick(lesson)"
            class="cursor-pointer p-2 rounded hover:bg-gray-100"
            [class.bg-blue-100]="lesson.lessonId === currentLesson?.lessonId"
          >
            {{ lesson.lessonName }}
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <!-- Content -->
  <nz-layout>
    <nz-content class="p-6">
      <!-- Video -->
      <video #videoPlayer class="w-full h-[650px]" controls>
        <source [src]="currentLesson?.videoUrl" type="video/mp4" />
      </video>

      <!-- Comment -->
      <app-review-lesson
        [comments]="commentLesson"
        [avatar]="avatar"
        [newCommentLesson]="newCommentLesson"
        [replyContent]="replyContent"
        [activeReply]="activeReply"
        (addComment)="handleAddCommentLesson()"
      >
      </app-review-lesson>
    </nz-content>
  </nz-layout>
</nz-layout>
