<div class="content-page animate-fade">
  <!-- Banner -->

  <div class="flex items-center justify-between bg-blue-50 rounded-xl p-8 mb-8">
    <div class="max-w-lg">
      <h1 class="text-3xl font-bold mb-3">Manage Your Advertisement</h1>

      <p class="text-gray-600 mb-5">
        Optimize performance and manage campaigns effectively
      </p>

      <a routerLink="/contact" nz-button nzType="primary"> Get started now </a>
    </div>

    <img
      src="https://media.vneconomy.vn/w800/images/upload/2021/05/31/quang-cao-so1.png"
      class="w-[300px] rounded-lg"
    />
  </div>

  <!-- Filter -->

  <div class="flex items-center gap-3 mb-4">
    <label class="font-medium"> Advertisement Sort </label>

    <select nz-select class="w-[150px]">
      <option value="desc">Newest</option>
      <option value="asc">Oldest</option>
    </select>
  </div>

  <app-ads-table> </app-ads-table>
</div>
